*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;

    background-color: black;
    color: white;
}

header {
    background-color: black;
    color: white;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

#imagi {
    width: 200px;
}

main {
    display: flex;
    justify-content: center;
}

#one, #two, #three {
    margin: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
