<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Peacock</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 text-white flex flex-col items-center justify-center gap-2">
    <img src="/images/noun-peacock-3637728.png" alt="" class="bg-zinc-700 py-3 rounded-lg border border-zinc-400">
    <h1>Peacock Welcomes you</h1>
    <div class="main">
        <img src="/images/peacock 2.svg" alt="">
        <a class="builder" href="/builder">
            Create Portfolio
        </a>
    </div>
</body>
</html>